<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WpfApp5.Properties.Settings.new1ConnectionString"
            connectionString="Data Source=LAPTOP-FQBEUBB7\VIKA;Initial Catalog=new1;Persist Security Info=True;User ID=sa;Password=Mehanika13!;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>